/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-cancel {
    color: white !important;
    background-color: rgb(128, 0, 19) !important;
}
.mat-cancel:hover {
    color: white !important;
    background-color: rgb(153, 12, 33) !important;
}
