/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --default-color-text-menu: rgb(31, 44, 93);
}

.mat-green {
    transition: 1s !important;
    color: white !important;
    background-color: green !important;
}
.mat-green:hover {
    color: white !important;
    background-color: rgba(2, 145, 2, 0.829) !important;
}
.mat-cancel {
    transition: 1s !important;
    color: white !important;
    background-color: rgb(185, 52, 52) !important;
}
.mat-cancel:hover {
    color: white !important;
    background-color: rgba(199, 87, 87, 0.829) !important;
}