h3 {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.9em;
    margin: 30px;
    color: rgb(31, 31, 88);
}
header {
    width: 100%;
    position: relative;
    display: flex;
}
// .close {
//     position: absolute;

// }
form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1024px;
}

mat-form-field {
    margin: 5px 20px;
    width: 30%;
}

.product {
    width: calc(100% - 40px);
    max-width: 900px;
}

.category {
    width: calc(55% - 40px);
    max-width: 500px;
}
.value {
    width: calc(45% - 40px);
    max-width: 400px;
}

.description {
    width: calc(100% - 40px);
    max-width: 960px;
    max-height: 350px;
}

.description textarea {
    height: 100px;
    resize: none;
}

.subtitle {
    font-size: 10px;
    color: rgb(98, 98, 98);
}

.open-form a {
    color: rgb(67, 67, 164);
    font-weight: 500;
}

.action {
    width: 100%;
    margin: 15px;
    display: flex;
    justify-content: center;
}

.action button {
    width: 150px;
    margin: 0 15px;
}

@media (max-width: 600px) {
    form, .container{
        justify-content: center;
        max-width: 100%;
    }
    .product, .category, .description, .value {
        width: 80%;
    }
}