.delete,
.edit {
    margin-right: 25px;
}

.delete mat-icon {
    color: rgba(185, 34, 34, 0.5);
}

.edit mat-icon {
    color: rgb(32, 32, 193, 0.5);
}

[mat-header-cell],
[mat-cell] {
    width: auto;
    padding-right: 8px;
}

.container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table, .search {
    width: 80%;
    max-width: 80%;
    min-width: 980px;
}

.search {
  min-width: 1024px;
}


#list-product {
    position: relative;
    margin-top: 30px;
    max-width: 80%;
}

#list-product .button-add {
    position: absolute;
    top: -35px;
    right: -35px;
}

.button-add::after {
    position: absolute;
    content: 'Adicionar novo';
    width: 120px;
    height: 40px;
    background-color: #3f51b562;
    border-radius: 5px;
    top: 8px;
    left: -133px;
    text-align: center;
    line-height: 37px;
    transition: .5s;
}

.button-add::before {
    position: absolute;
    border-radius: 0;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid  #3f51b562;
    top: 18px;
    left: -13px;
    transition: .5s;
}

.button-add:hover::after {
    background-color: #3f51b5;
}
.button-add:hover::before {
    border-left: 10px solid  #3f51b5;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}


.loading {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.action {
  width: 100%;
  display: flex;
  justify-content: end;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  position: relative;
  min-width: 100px;
  height: 200px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-img img {
  position: relative;
  width: 150px;
  height: 150px;
  image-rendering: pixelated;
}


.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}
